
.quick-search {
    width: 200px;
    font-size: 14px;
}
.quick-search.all-border {
    border-radius: 2px;
}
.quick-search.all-border .qs-c {
    border: none !important;
    padding-left: 9px;
}
.quick-search.all-border .qs-c .qc-flag {
    font-size: 14px;
}
.quick-search.all-border .qc-input {
    background-color: transparent;
    font-size: 12px;
}
.quick-search .qs-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 1px;
}
.quick-search .qs-c .qc-flag {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: calc(1em / 2 - 5px);
    font-size: calc(1em + 5px);
}
.quick-search .qs-c .qc-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.quick-search .qs-c .qc-container .qc-input {
    color: #555;
    padding: 5px;
    outline: 0;
    border-radius: 0;
    border: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 1px;
    line-height: 1em;
}
.quick-search .qs-c .qc-container input:-ms-input-placeholder {
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search .qs-c .qc-container input::-ms-input-placeholder {
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search .qs-c .qc-container input::placeholder,
.quick-search .qs-c .qc-container input:-ms-input-placeholder {
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search .qs-c .qc-label-out {
    margin-left: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.quick-search .qs-c .qc-label-out .qc-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-radius: 2px;
    border: 1px solid #A7B5D3;
    margin: 2px;
    cursor: pointer;
    max-width: 170px;
}
.quick-search .qs-c .qc-label-out .qc-label:hover .qc-l-delete {
    display: block;
    position: absolute;
    top: -7px;
    right: -5px;
}
.quick-search .qs-c .qc-label-out .qc-label .qc-l-delete {
    display: none;
}
.quick-search .qs-c .qc-label-out .qc-label .qc-l-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 4px 0px 4px;
    background: #A7B5D3;
    min-height: 22px;
    font-size: inherit;
    color: #FFFFFF;
    letter-spacing: 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.quick-search .qs-c .qc-label-out .qc-label .qc-l-con {
    padding: 3px 4px 0px 4px;
    font-size: inherit;
    color: #333333;
    letter-spacing: 0;
    max-width: 150px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.qs-list {
    min-width: 200px;
    width: 400px;
    position: absolute;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    z-index: 1050;
}
.qs-list.hide {
    display: none;
}
.qs-list .item {
    height: 30px;
    padding: 5px 8px;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #E2E2E2;
    cursor: pointer;
}
.qs-list .item.item-selected {
    background: #FCA987;
    color: #FFFFFF;
}
.quick-search-autocomplete {
    width: 200px;
    height: 30px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.quick-search-autocomplete .qsa-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #BCBCBC;
    border-radius: 2px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.quick-search-autocomplete .qsa-c .qca-input {
    padding: 5px 5px 5px 14px;
    outline: 0;
    border-radius: 0;
    border: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 16px;
    color: #333333;
    caret-color: #0071C9;
}
.quick-search-autocomplete .qsa-c input::-webkit-input-placeholder {
    font-size: 14px;
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search-autocomplete .qsa-c input::-moz-placeholder {
    font-size: 14px;
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search-autocomplete .qsa-c input:-ms-input-placeholder {
    font-size: 14px;
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search-autocomplete .qsa-c input::-ms-input-placeholder {
    font-size: 14px;
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search-autocomplete .qsa-c input::placeholder {
    font-size: 14px;
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search-autocomplete .qsa-c input:-ms-input-placeholder {
    font-size: 12px;
    color: #BBBBBB;
    letter-spacing: 0;
}
.quick-search-autocomplete .qsa-c .qca-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.qs-list-autocompelte {
    min-width: 200px;
    width: 400px;
    position: absolute;
    z-index: 1050;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 6px;
}
.qs-list-autocompelte.hide {
    display: none;
}
.qs-list-autocompelte .itemac {
    height: 30px;
    padding: 7px 16px;
    letter-spacing: 0;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
}
.qs-list-autocompelte .itemac.itemac-selected {
    background: rgba(0, 113, 201, 0.1);
    font-size: 12px;
    color: #1070CB;
}
.qs-c.qs-animate {
    border-bottom: 1px solid transparent;
}
.qs-animate.collapse .qc-flag {
    margin-left: calc(100% - 1em);
}
.qs-animate.expanding::after,
.qs-animate.collapsing::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    bottom: -1px;
    right: 0;
}
.qs-animate.collapsing .qc-flag {
    -webkit-animation: leftToRgith ease-out 0.3s alternate forwards;
    animation: leftToRgith ease-out 0.3s alternate forwards;
}
.qs-animate.collapsing::after {
    -webkit-animation: widthLess ease-out 0.5s alternate forwards;
    animation: widthLess ease-out 0.5s alternate forwards;
}
.qs-animate.expanding .qc-flag {
    -webkit-animation: rightToLeft ease-out 0.3s alternate forwards;
    animation: rightToLeft ease-out 0.3s alternate forwards;
}
.qs-animate.expanding::after {
    -webkit-animation: widthFill ease-out 0.3s alternate forwards;
    animation: widthFill ease-out 0.3s alternate forwards;
}
@-webkit-keyframes rightToLeft {
    from {
        margin-left: calc(100%);
    }
    to {
        margin-left: 0;
    }
}
@keyframes rightToLeft {
    from {
        margin-left: calc(100%);
    }
    to {
        margin-left: 0;
    }
}
@-webkit-keyframes leftToRgith {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(100% - 1em);
    }
}
@keyframes leftToRgith {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(100% - 1em);
    }
}
@-webkit-keyframes widthFill {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes widthFill {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@-webkit-keyframes widthLess {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
@keyframes widthLess {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
